.card{
    text-align: center;
}


#display{
    margin-top: 20px;
}
.container{
    margin-top: 20px;
    text-align: center;
}
#search{
    margin-top: 2%;
}

#avg{
    margin-top: 10px;
}

#nameInput{

    width: 40%;
    margin: 0 auto;
}